header{
    z-index: 99;
}

ul{
    margin: 0px;
    padding: 0px;
    float: right;
    vertical-align: top;
    text-transform: uppercase;
}

li{
    display:inline-block;
    margin-right: 10px;

}