.mainbar{
    line-height: 50px;
}

.logo{
    display: inline-block;
    float: left;
    line-height: normal;
}

.title{
    background-color: lightgreen;

}

funbar{
    float: right;
    display: inherit;
}

.funlist>li>a:hover{
    color: deepskyblue;
}


.funlist>li{
    display:inline-block;
    margin-right: 0;
    padding: 10px;
    text-decoration: none;
    color:black;
    line-height: normal;
}

.funlist{
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    line-height: 100%;
    float: left
}

